{% extends 'base.html' %}


{% block content %}

{% if zipcode %}
	{{ zipcode }}
{% endif %}

{% if api %}

	{{ api }}

	{% if api == "Error..." %}
		There was an error, please try again...
	{% else %}

	   <div class="jumbotron {{category_color}}">
	       <h1 class="display-4">Category: {{api.0.Category.Name}}</h1>
	       <p class="lead">{{api.0.ReportingArea}}, Ar Quality: {{api.0.AQI}}</p>

	       <p>{{category_description}}</p>

       </div>
		
	{% endif %}

{% endif %}


{% endblock %}

